/* for mobile */

@media screen and (max-width: 767px) {
    
    .navigation {
        display: none;
    }
    .navigation.active_nav {
        display: block;
        flex-direction: column;
        
    }
    
    .burger {
        display: block;
    }

    .ul-list {
        gap: 20px;
        width: 100%;
        max-width: 200px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        
    }

    

    .logo, .download, .block2 {
        display: none;
    }
    .block1-p {
        max-width: 400px;
        width: 100%;
    }

    
    .sect2-div2-main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 50px;

    }

    .images {
        max-width: 568px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

   .sec3-container2 {
    display: flex;
     flex-direction: column;
     margin-left: 100px;
   }

   .sec3-ul{
    margin-left: 130px;
    margin-bottom: 50px;
   }

   .sec4-container{
    display: flex;
    flex-direction: column;
    margin-left: 45px
   }

   .sec4-block-4 {
    margin-right: 50px;
   }
  .sec5-block2 {
    display: none;
  }
  .sec6-container {
    display: flex;
    flex-direction: column;
  }
  .sec7-container{
    display: flex;
    flex-direction: column;
  }
  .sec7-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }
  .map {
    display: none;
  }
  .sec8_container {
    display: flex;
    flex-direction: column;
  }
  .sec8_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    /* margin-left: 430px; */
  }
  .sec8_inputs {
    display: flex;
    flex-direction: column;
  }
  .sec8_resp-form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .Massage {
    width: 100%;
    max-width: 500px;
  }
  .sec8_message{
    display: flex;
    justify-content: center;
  }
  .img1, .img2 {
    margin-left: 70px;
  }
  
}

@media screen and (max-width: 390px){
  .h1-div h1  {
    font-size: 35px;
    margin-right: 55px;
    margin-bottom: 55px;
  }
  .block1-p{
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  .buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
  }

  .button1 {
    margin-left: 34px;
  }

  .block1 {
    position: absolute;
    right: 100px;
  }
  .sect2-div1 p {
    font-size: 15px;
    width: 100%;
    max-width: 500px;
    
  }
  .section3 h2{
    text-align: center;
    font-size: 35px;
  }
  .sec3-ul {
    margin-right: 230px;
  }
  .images {
    margin-left: 20%;
    max-width: 200px;
    width: 100%;
  }
  .Section4 h2{
    font-size: 50px;
  }
  .Section4 p {
    font-size: 14px;
    text-align: center;
    
  }
  .sec4-p {
    margin-bottom: 20px;
  }
  
}
