
body {
    font-family: Poppins;
}
.header {
  background-color: #0067F4;
  height: 768px;
  padding-left: 97px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  
}

.navigation {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.ul-list {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    
}

.logosvg {
    background-color: #0067F4;
}

.ul-list li {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FFF;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 111;
}

.home, .Portfolio, .pricing, .about {
    margin-right: 22px;
}
.services {
    margin-right: 18px;
}

.Team {
    margin-right: 26px;
}

.contact {
    margin-right: 88px;
}

.download {
    margin-right: 368px;
    z-index: 112111;
    
}
.download-button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #0067F4;
    line-height: normal;
    background-color: #FDFEFE;
    border-radius: 3px;
    cursor: pointer;
    
}

/* section 1 */


.block1 {
    position: absolute;
    top: 265px;
    left: 97px;
}

.h1-div {
    width: 408px;
    margin-bottom: 12px;
}

.h1-div h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #FFF;
    
}

.block1-p{
    width: 100%;
    max-width: 533px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin-bottom: 31px;
    
}

.button1, .button2 {
    background-color: #FDFEFE;
    border-radius: 50px;
    width: 117px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0067F4;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.button1 {
    margin-right: 34px;
}
.button2{
    background: rgba(255, 255, 255, 0.00);
    border: 2px solid #FFF;
    color: #FFF;
}

.buttons-div {
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.foni{
    position: absolute;
    right: 231px;
    top: 200px;
    z-index: 2;
}

.laptop {
    position: absolute;
    right: 301px;
    top: 290px;
    z-index: 3;
}

/* Section2 styles */

.section2 {
    /* max-height: 727px; */
    background-color: #EAECEF;
    padding-top: 66px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect2-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.sect2-div1 h2 {
    color: #000;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.sect2-div1 p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 596px;
    margin-top: 25px;
    text-align: center;
}

.rectangle {
    width: 546px;
    height: 1100px;
    background: rgba(196, 196, 196, 0.50);
    position: absolute;
    top: -130px;
    right: 230px;
    transform: rotate(-19deg);
    opacity: 0.7;
}

.sect2-div2-main{
    display: flex;
    margin-top: 123px;
}
.main-box1 {
    width: 300px;
    height: 300px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-div {
    display: flex;
    align-items: center;
    margin-left: 31px;
    margin-top: 28px;
    margin-right: 17px;
    margin-bottom: 35px;
}

.box1 {
    margin-right: 48px;
    
}

.box2 {
    margin-right: 58px;
}

.main-box1 h3 {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;
}

.box1-p1 {
    width: 240px;
    /* height: 83px; */
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    
}

.box1-p2 {
    font-family: 'Poppins', sans-serif;
    color: #0067F4;
    font-size: 18px;
    font-weight: 500;
}

/* Section3 styles */

.section3 {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 79px;
    padding-bottom: 140px;
}

.all-work-div {
    border-radius: 50px;
    background: linear-gradient(90deg, #0372F1 0%, #00F2FE 100%);
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

}

.all-work-div li {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.sec3-container2 {
    display: flex;
    align-items: start;
}

.images {
    width: 687px;
    display: flex;
    flex-wrap: wrap;
}

.section3 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 139px;
}

.sec3-ul {
    margin-right: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec3-ul li {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.sec3-ul li:nth-child(2){
    margin-bottom: 28px;
}

.sec3-ul li:nth-child(3){
    margin-bottom: 29px;
}
.sec3-ul li:nth-child(4){
    margin-bottom: 20px;
}

/* Section4 styles */

.Section4 {
    background-color: #EAECEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 142px;
}

.Section4 h2 {
    font-family: 'Poppins';
    font-size: 55px;
    color: #000;
    font-weight: 700;
}
.sec4-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4-p {
    margin-top: 28px;
}

.sec4-block {
    width: 300px;
    height: 458px;
    background: linear-gradient(23deg, #0372F1 21.05%, #68E0CF 94.69%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 41px;
    margin-top: 50px;
}

.sec4-block img {
    margin-bottom: 34px;
}

.Sec4-p1 {
    margin-bottom: 13px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Sec4-p2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
    margin-bottom: 25px;

}

.Sec4-p-all {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
}

.Sec4-p3 {
    margin-bottom: 59px;
}

.sec4-div{
    width: 117px;
    height: 31px;
    border-radius: 50px;
    background-color: #FDFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4-div p {
    color: #0067F4;
    font-family: Poppins;
    font-size: 14px;

}

.sec4-block-m {
    margin-right: 51px;
}

/* section5 styles */

.section5 {
    background-color: #FFF;
    padding-bottom: 25px;
    
}

.sec5-container{
    display: flex;
    justify-content:center;
    position: relative;
    
    
}

.sec5-block1 {
    margin-left: 25px;
    position: absolute;
    top: 92px;
    left: 200px
    
}

.sec5-block1 h4 {
    font-size: 24px;
    color: #0370F3;
}

.sec5-block1-p1 {
    max-width: 775px;
    font-weight: 700;
    color: #000;
    font-size: 45px;
    line-height: 65px;
    
}

.sec5-block1-p2 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.sec5-block1-p3 {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    max-width: 414px;
    margin-left: 11px;
    margin-top: 11px;
    display: none;
}
.sec5-block1-p3.active {
    display: block;
}

.block-p2 {
    margin-top: 30px;
    margin-bottom: 24px;
}

.block-p3 {
    margin-top: 23px;
}

.sec5-block2 {
    position: absolute;
    top: 92px;
    right: 180px;
}
#sec5_button {
    border: none;
}

/* Section6 styles */

.Section6 {
    background-color: #EAECEF;
    padding-top: 60px;
    padding-bottom: 204px;
    margin-top: 748px;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.sec6-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec6-bl1 {
    margin-top: 81px;
}

.sec6-bl1 h4 {
    color: #0370F3;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.sec6-p1 {
    max-width: 562px;
    color: #000;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 118.182% */
    letter-spacing: 1.65px;
    margin-top: 2px;
    margin-bottom: 42px;
}

.sec6-p2 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 540px;
    
}

.sec6-p3 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 540px;
    margin-top: 20px;
}

.sec6_bl2_div1 {
    width: 459px;
    height: 313px;
    border-radius: 62px;
    background: #E8ECEF;
    box-shadow: -6px 4px 6px 5px rgba(0, 0, 0, 0.25);
    margin-top: 181px;
}

.sec6_bl2_div1 img {
    margin-top: 16px;
    margin-left: 6px;
}

.sec6_bl2_div2 {
    width: 459px;
    height: 313px;
    border-radius: 62px;
    background: #FBFBFB;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 231px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec6-bl2 {
    position: relative;
}

.sec6_bl2_div2_p1{
    width: 383px;
    text-align: left;
    margin-top: 58px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec6_bl2_div2_div1{
    width: 459px;
    height: 2px;
    background: #D8CFCF;
    margin-top: 29px;
}

.sec6_bl2_div2_div2{
    display: flex;
    align-items: center;
    margin-top: 41px;
    margin-bottom: 46px;
}

.sec6_bl2_div2_div2_div1{
    margin-left: 16px;
    margin-right: 83px;
}

.sec6_arrows {
    position: absolute;
    bottom: 71.77px;
    left: 215px;
}

.arrow1 {
    margin-right: 27px;
}



/* section7 styles */

.section7 {
    background-color: #fff;
    padding-top: 94px;
    padding-bottom: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section7 h4 {
    color: #000;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sec7-p {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec7-p1 {
    margin-top: 17px;
    margin-bottom: 6px;
}

.sec7-p2 {
    margin-bottom: 96px;
}

.sec7_img {
    width: 300px;
    height: 550px;
    background: #FFF;
    box-shadow: 0px 24px 48px 0px rgba(51, 51, 51, 0.18), 0px 6.61333px 6.61333px 0px #FFF inset, 0px -6.61333px 6.61333px 0px #F0F0F0 inset;
}

.sec7_img_p {
    margin-top: 19px;
    
    text-align: center;
}

.sec7_img_p1 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec7_img_p2 {
    color: #0370F3;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.sec7-images {
    display: flex;
}

.img1, .img2 {
    margin-right: 70px;
}

/* section8 styles */

.section8 {
    background-color: #EAECEF;
    padding-top: 89px;
    padding-bottom: 90px;
}

.sec8_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec8_h4 {
    font-family: Poppins;
    font-size: 55px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: center;

}

.sec8_p1, .sec8_p2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.sec8_p1 {
    margin-top: 5px;
    margin-bottom: 6px;
}

.sec8_p2 {
    margin-bottom: 59px;
}

.map {
    padding-bottom: 42px;
}

.sec8_contacts {
    display: flex;
    margin-bottom: 95px;
    gap: 55px;
}
.sec8_contacts_p1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
   

}

.sec8_contacts_block1 {
    display: flex;
    justify-content: center;
}

.sec8_contacts_block1_img {
    margin-right: 24px;
}

.sec8_message{
    max-width: 1040px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.sec8_message_p1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 14px;
    margin-right: 13px;

}

.sec8_message_p2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;

}

.sec8_name {
    width: 445px;
    position: relative;
}

.sec8_name input {
    width: 100%;
    padding: 10px;
}

.sec8_formContainer{
    width: 100%;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;

}

.name_email {
    margin-right: 95px;
}

.name_logo, .email_logo {
    position: absolute;
    top: 40px;
    right: 10px;
}

.email_logo {
    position: absolute;
    top: 40px;
    right: 10px;
}


.email_logo {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.name_logo {
    width: 20px;
    height: 20.854px;
    flex-shrink: 0;
}

.label, .massage_label {
    color: #9D9595;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.input {
    margin-top: 8px;
}

.Massage {
    width: 1040px;
    height: 129px;
    flex-shrink: 0;
    margin-top: 18px;
    padding-bottom: 65px;
    padding-left: 13px;
    
}

.input::placeholder, .Massage::placeholder {
    color: #9D9595;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message_container {
    position: relative;
}

.message_logo {
    position: absolute;
    top: 70px;
    right: 25px;
    
}

.submit {
    width: 161px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0067F4;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 38px;
}
/* section 9 styles */

.section9 {
    background-color: #121B2E;;
    padding-top: 90px;
    padding-bottom: 70px;
}
.sec9_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-laptop{
    font-size: 78px;
    color: #fff;
}

.fa-brands {
    color: white;
}

.sec9_p1, .sec9_p2, .sec9_p3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec9_p3 span {
    color: #0067F4;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-laptop {
    margin-bottom: 44px;
}
.sec9_container div {
    max-width: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.sec9_p2 {
    margin-top: 5px;
    margin-bottom: 26px;
}

/* burger styles */

.burger {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

