/* body{
    position: relative;
} */
.header {
  background-color: #0067F4;
  height: 768px;
  padding-left: 97px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  
}

.navigation {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.ul-list {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
}

.logosvg {
    background-color: #0067F4;
}

.ul-list li {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FFF;
    line-height: normal;
    text-transform: uppercase;cursor: pointer;

}

.home, .Portfolio, .pricing, .about {
    margin-right: 22px;
}
.services {
    margin-right: 18px;
}

.Team {
    margin-right: 26px;
}

.contact {
    margin-right: 88px;
}

.download {
    margin-right: 368px;
}
.download-button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #0067F4;
    line-height: normal;
    background-color: #FDFEFE;
    border-radius: 3px;
    
}

/* section 1 */

.section1 {
    
    position: absolute;
    top: 265px;
    left: 97px;
}

.h1-div {
    width: 408px;
    margin-bottom: 12px;
}

.h1-div h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #FFF;
    
}

.block1-p{
    width: 533px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin-bottom: 31px;
    
}

.button1, .button2 {
    background-color: #FDFEFE;
    border-radius: 50px;
    width: 117px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0067F4;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.button1 {
    margin-right: 34px;
}
.button2{
    background: rgba(255, 255, 255, 0.00);
    border: 2px solid #FFF;
    color: #FFF;
}

.buttons-div {
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.foni{
    position: absolute;
    right: 231px;
    top: 200px;
}

.laptop {
    position: absolute;
    right: 301px;
    top: 290px;
}

/* Section2 styles */

.section2 {
    max-height: 727px;
    background-color: #EAECEF;
    padding-top: 66px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect2-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.sect2-div1 h2 {
    color: #000;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.sect2-div1 p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    width: 596px;
    margin-top: 25px;
    text-align: center;
}

.rectangle {
    width: 546px;
    height: 1100px;
    background: rgba(196, 196, 196, 0.50);
    position: absolute;
    top: -130px;
    right: 230px;
    transform: rotate(-19deg);
    opacity: 0.7;
}

.sect2-div2-main{
    display: flex;
    margin-top: 123px;
}
.main-box1 {
    width: 300px;
    height: 300px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-div {
    display: flex;
    align-items: center;
    margin-left: 31px;
    margin-top: 28px;
    margin-right: 17px;
    margin-bottom: 35px;
}

.box1 {
    margin-right: 48px;
    
}

.box2 {
    margin-right: 58px;
}

.main-box1 h3 {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;
}

.box1-p1 {
    width: 240px;
    /* height: 83px; */
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    
}

.box1-p2 {
    font-family: 'Poppins', sans-serif;
    color: #0067F4;
    font-size: 18px;
    font-weight: 500;
}

/* Section3 styles */

.section3 {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 79px;
    padding-bottom: 140px;
}

.all-work-div {
    border-radius: 50px;
    background: linear-gradient(90deg, #0372F1 0%, #00F2FE 100%);
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

}

.all-work-div li {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.sec3-container2 {
    display: flex;
    align-items: start;
}

.images {
    width: 687px;
    display: flex;
    flex-wrap: wrap;
}

.section3 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 139px;
}

.sec3-ul {
    margin-right: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec3-ul li {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.sec3-ul li:nth-child(2){
    margin-bottom: 28px;
}

.sec3-ul li:nth-child(3){
    margin-bottom: 29px;
}
.sec3-ul li:nth-child(4){
    margin-bottom: 20px;
}